<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Personnes</title>
</h:head>
<h:body>
	<h1>Créer un client</h1>
	<h:form>
			Nom : <h:inputText value="#{personne.nom}" /> <br/>
			Prenom : <h:inputText value="#{personne.prenom}" /> <br/>
			Age : <h:inputText value="#{personne.age}" /> <br/>
		<br />
		<h:commandButton type='submit' value="Valider" action="#{personne.creerPersonne()}" />
		<h:commandButton type='submit' value="retour" action="index" />
	</h:form>
</h:body>
</html>