<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Personnes</title>
</h:head>
<h:body>
	<h1>Liste des clients</h1>
	<h:dataTable value="#{personne.getPersonnes()}" var="o"
    			styleClass="order-table"
    			headerClass="order-table-header"
    			rowClasses="order-table-odd-row,order-table-even-row">

    			<h:column>
    				<!-- column header -->
    				<f:facet name="header">Nom</f:facet>
    				<!-- row record -->
    				#{o.nom}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Prenom</f:facet>
    				#{o.prenom}
    			</h:column>
    			
    			<h:column>
    				<f:facet name="header">Age</f:facet>
    				#{o.age}
    			</h:column>
    		</h:dataTable>
    		<h:form>
    		<h:commandButton type='submit' value="retour" action="index" />
    		</h:form>
</h:body>
</html>