<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html">
<h:head>
<title>Calcul</title>
</h:head>
<h:body>
<h1>Calculs</h1>
<h:form>
Argument 1 : <h:inputText value="#{calcul.valuePlayer}" /> <br/>
<h:commandButton type='submit' value="Compare" action="#{calcul.effectuer()}" /><br/>
</h:form>
</h:body>
</html>