<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html">
<h:head>
<title>Calcul</title>
</h:head>
<h:body>
<h1>Resultats</h1>
<h:form>
Somme : <h:outputText value="#{calcul.somme}"/> <br/>
Multiplication : <h:outputText value="#{calcul.multiplication}"/> <br/>
<input type="button" value="retour" onclick="history.back()"/>
</h:form>
</h:body>
</html>