<!DOCTYPE html>
<html
xmlns="http://www.w3.org/1999/xhtml"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:h="http://java.sun.com/jsf/html">
<h:head>
<title>Calcul</title>
</h:head>
<h:body>
<h1>Somme de a1 + a2</h1>
<h:form>
Argument 1 : <h:inputText value="#{calcul.o1}" /> <br/>
Argument 2 : <h:inputText value="#{calcul.o2}" /> <br/>
Resultat : <h:outputText value="#{calcul.resultat}"/> <br/>
<h:commandButton type='submit' value="Submit" action="#{calcul.effectuer()}" /><br/>
</h:form>
</h:body>
</html>