<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<meta charset="ISO-8859-1" />
	<title>Calcul</title>
</h:head>
<h:body>
	<h1>Somme de a1 + a2</h1>
	<h:form>
			Argument 1: <h:inputText id="i1" value="#{calcul.operand1}">
			<f:converter converterId="javax.faces.Integer" />
			<f:validateRequired disabled="false" />
		</h:inputText>
			Argument 3: <h:inputText id="i3" value="aaaaa">
			<f:validateRegex pattern="^A.[^GK]$" />
		</h:inputText>
		<br />
			Argument 2: <h:inputText id="i2" value="#{calcul.operand2}">
			<f:validateRequired for='i2' />
			<f:validateDoubleRange minimum="2" maximum="8" for="i2" />
			<f:converter converterId="javax.faces.Integer" />
		</h:inputText>
		<br />
			Resultat  : <h:outputText id="res" value="#{calcul.resultat}" />
		<br />
		<h:commandButton value="Submit" action="#{calcul.effectuer()}" />
		<br />
	</h:form>
	<h:message for="i3" style="color:red" />
	<p></p>
</h:body>
</html>