<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Loto</title>
</h:head>
<h:body>
	<h1>Loto</h1>
        <h:form>
        <table>
            <ui:repeat value="#{grille.lignes}" var="ligne">
        		<tr>
	            <ui:repeat value="#{ligne}" var="unecase">
	            	<td>
    		        <h:commandButton type='submit' value="#{unecase}" action="#{grille.selection(unecase)}" style="background-color : #{grille.getCouleur(unecase)}"/>
	            	</td>
    		    </ui:repeat>
            </tr>
         </ui:repeat>
        </table>
        </h:form>
        <h:form>
        	<h:commandButton type='submit' value="tirage auto" action="#{grille.flash}"/>
        </h:form>
        
</h:body>
</html>