<!doctype html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
    <style>
        input {
            width: 50px;
            height: 50px;
            background: steelblue;
            border: none;
        }
    </style>
</head>

<body ng-app="monapp">
    <div ng-controller="monController">
        <h1>Bataille Navale</h1>
        <table>
            <tr>
                <td ng-repeat="unecase in batailleNavale.ocean">
                    <input type="button" value="{{unecase}}" ng-click="batailleNavale.selection(unecase)"
                        ng-style="{'background' : batailleNavale.couleur(unecase)}" />
                </td>
            </tr>
        </table>
    </div>
    <script>
        angular.module("monapp", []).controller("monController", function ($scope) {

            $scope.batailleNavale = {

                ocean: [],
                navire: null,
                touche: [],
                init: function (maxocean, nbnavire) {

                    //dimensionner l'ocean  
                    this.ocean = []
                    for (var i = 0; i < maxocean; i++) {
                        this.ocean.push(i);
                    }

                    //créer les navires
                    this.navire = {
                        taille: null,
                        position: null,
                        etat: null,
                        impact: function (unecase) {
                            var ret = false;
                            if (unecase >= this.position &&
                                unecase < this.position + this.taille) {

                                this.etat[unecase - this.position] = false
                                ret = true
                            }
                            return ret
                        },
                        estCoule : function(){

                            var r = true
                            if(this.etat.indexOf(true) != -1) r = false
                            return r
                        }
                        
                    }
                    this.navire.taille = Math.round(Math.random() * 3) + 2
                    this.navire.position = Math.round(Math.random() * (maxocean - this.navire.taille))
                    this.navire.etat = []
                    for (var i = 0; i < this.navire.taille; i++) {

                        this.navire.etat.push(true)

                    }
                },
                selection: function (unecase) {

                    var i = this.navire.impact(unecase)

                    if (i == true) {
                        this.touche.push(unecase)
                    }
                    console.log(this.touche)
                    console.log(this.navire.etat)
                },

                couleur: function (unecase) {

                    var t = 'green';
                    if(this.navire.estCoule()) t = 'red'
                    return this.touche.indexOf(unecase) != -1? t : 'powderblue'


                }
            }
            $scope.batailleNavale.init(10, 1)
            console.log($scope.batailleNavale);


        });
    </script>
</body>

</html>