<!doctype html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
   </head>
   <body ng-app="monapp">
      <div ng-controller="monController" >
         <h1>{{titre}}</h1>
         <table>
            <tr>
               <td ng-repeat = "v in data track by $index">
                  <input type="button" ng-click="selection($index)" value="{{data[$index]}}" ng-style="{'background-color' : couleur[$index], 'color': 'cyan'}">
               </td>
            </tr>
         </table>
      </div>
      <script>
         angular.module("monapp", []).controller("monController", function($scope) {

            $scope.titre = "pair impair"
            $scope.couleurs = Array("yellow", "red")
            $scope.data = new Array(4)
            $scope.couleur = new Array("cyan","cyan", "cyan", "cyan")
            for(var i=0;i<4;i++)
            {
               $scope.data[i] = Math.round(Math.random() * 100)
            }

            $scope.selection = function(indice)
            {
               console.log(indice)
               if($scope.data[indice] % 2 == 0)
               {
                  $scope.couleur[indice] = $scope.couleurs[0]
               }
               else{
                  $scope.couleur[indice] = $scope.couleurs[1]
               }
            }
         }); 
           
           
         
      </script>
   </body>
</html>