<!doctype html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
</head>

<body ng-app="monapp">
    <div ng-controller="monController">
        <h1>{{titre}}</h1>
        <h2>{{tirage}}</h2>
        <table>
            <tr ng-repeat="row in grille">
                <td ng-repeat="oo in row">
                    <input type="button" ng-click="selection(oo)" value="{{oo.data}}" ng-style="oo.style">
                </td>
            </tr>
        </table>
        <input type="submit" value="auto" ng-click="flash()">
        <input type="submit" value="tirage" ng-click="tirage()">
        <input type="submit" value="reset" ng-click="reset()">

    </div>
    <script>
        angular.module("monapp", []).controller("monController", function ($scope) {

            $scope.titre = "loto"
            $scope.grille = new Array(10)
            $scope.couleurs = Array("grey", "red")
            $scope.compteur = 0;
            


            //tr
            for (var i = 0; i <= 9; i++) {
                var data = new Array(5)
                //td
                for (var j = 0; j < 5; j++) {
                    var number = i + (10 * j)

                    data[j] = {
                        'data': number,
                        'style': {
                            "background-color": "lightgray",
                            "visibility": number != 0 ? "" : "hidden"
                        }
                    };
                }
                $scope.grille[i] = data
            }

            $scope.clear = function () {
                for (var l = 0; l < 10; l++)
                    for (var c = 0; c < 5; c++)
                        $scope.grille[l][c].style['background-color'] = "lightgray"
            }

            $scope.selection = function (o) {

                console.log(o)

                if ($scope.compteur < 6) {

                    if (o.style['background-color'] === "lightgray") {

                        o.style['background-color'] = "red"
                        $scope.compteur++
                        console.log($scope.compteur)

                    } else {

                        o.style['background-color'] = "lightgray"
                        $scope.compteur--
                        console.log($scope.compteur)

                    }
                } else if ($scope.compteur == 6) {

                    if (o.style['background-color'] === "red") {
                        o.style['background-color'] = "lightgray"
                        $scope.compteur--
                        console.log($scope.compteur)
                    }

                }
                console.log(o.data)


            }

            $scope.reset = function () {
                
                $scope.compteur = 0
                $scope.clear()
            }

            function getRandomInt(max) {
                return Math.floor(Math.random() * Math.floor(max));
            }

            $scope.flash = function () {

                $scope.clear()
                var tab = new Array()

                while (tab.length < 6) {

                    nbalea = getRandomInt(49) + 1

                    if (!tab.includes(nbalea)) {
                        tab.push(nbalea)
                    }
                }

                for (var l = 0; l < 10; l++)
                    for (var c = 0; c < 5; c++)
                        if (tab.includes($scope.grille[l][c].data)) {
                            $scope.grille[l][c].style['background-color'] = "red"
                        }

                $scope.compteur = 6
               
            }

            $scope.tirage = function () {

                
                if ($scope.compteur == 6) {
                    var tab = new Array()
                    while (tab.length < 6) {

                        nbalea = getRandomInt(49) + 1

                        if (!tab.includes(nbalea)) {
                            tab.push(nbalea)
                        }
                    }

                    for (var l = 0; l < 10; l++)
                        for (var c = 0; c < 5; c++)
                            if (tab.includes($scope.grille[l][c].data) && $scope.grille[l][c].style[
                                    'background-color'] == "red") {
                                $scope.grille[l][c].style['background-color'] = "green"
                            }
                    //console.log(tab)
                    $scope.tirage = "tirage du jour " + tab
                }

            }

        });
    </script>
</body>

</html>