<!doctype html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
   </head>
   <body ng-app="monapp">
      <div ng-controller="monController" >
         <h1>Je dis {{bonjour}} à {{personne.nom}}</h1>
      </div>
      <script>
         angular.module("monapp", []).controller("monController", function($scope) {
           // code
           $scope.bonjour = "bonjour";
           $scope.aqui = "karim";
           $scope.personne = {
                nom : "toto"
           };
           
         });
      </script>
   </body>
</html>