<!doctype html>
<html>
   <head>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js"></script>
   </head>
   <body ng-app="monapp">
      <div ng-controller="monController" >
         <h1 ng-style="{'color' : couleur}">Je compte : {{compteur}}</h1>
      </div>
      <script>
         angular.module("monapp", []).controller("monController", function($scope, $interval) {
           // code
           var couleurs = new Array("pink", "green")
           $scope.compteur = 0
           $scope.couleur = "pink"
           $interval (function(){
              $scope.compteur++
              $scope.couleur = couleurs[$scope.compteur%2]
               //$scope.$apply()
            }, 100)
           });
           
         
      </script>
   </body>
</html>