<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<title>Personnes</title>
</h:head>
<h:body>
	<h1>Boutons</h1>
	<h:form>
	<ui:repeat value="#{grille.unecase)}" var="unecase">
            <h:commandButton value="#{unecase}" />
        </ui:repeat>   
	</h:form>
</h:body>
</html>