<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">
<h:head>
	<title>Personnes</title>
</h:head>
<h:body>
	<h1>Personnes</h1>
	<h:form>
		<h:commandButton type='submit' value="Créer" action="creer" />
		<br />
		<h:commandButton type='submit' value="Lister" action="lister" />
		<br />
	</h:form>
</h:body>
</html>